In [2]:
import numpy as np
import pandas as pd
import dateparser as dp

Data cleaning notebook for the line chart data

- line chart data: https://github.com/JeffSackmann/tennis_atp
- pie chart data: https://www.ultimatetennisstatistics.com/tournamentLevelTimeline?level=G
- pictogram data: https://www.ultimatetennisstatistics.com/tournamentLevelTimeline?level=G
- bar chart data: https://www.ultimatetennisstatistics.com/statsLeaders
- radar chart data: https://www.ultimatetennisstatistics.com/statsLeaders

In [261]:
rankings_00 = pd.read_csv('atp_rankings_00s.csv')
rankings_10 = pd.read_csv('atp_rankings_10s.csv')
rankings_curr = pd.read_csv('atp_rankings_current.csv')
players = pd.read_csv('atp_players.csv')

In [262]:
players.columns = ['player_id', 'first_name', 'last_name', 'hand', 'birth_date', 'country_code']
rankings_curr.columns = ['ranking_date', 'rank', 'player', 'points']
rankings_curr = rankings_curr.drop(range(0,678))

In [263]:
three_dict = {104745: 'Rafael Nadal', 103819: 'Roger Federer', 104925: 'Novak Djokovic'}

In [264]:
rankings = rankings_00.append([rankings_10, rankings_curr]).reset_index()
rankings = rankings.drop(columns=['index'])

In [265]:
big_three_rank = rankings.loc[rankings['player'].isin(three_dict.keys())].reset_index()

In [266]:
big_three_rank['player'] = big_three_rank['player'].map(three_dict)

In [267]:
dates = [20041206, 20050606, 20051205, 20060605, 20061204, 20070604, 20071203, 20080602, 20081201, 20090601, 20091207,
        20100607, 20101206, 20110606, 20111205, 20120611, 20121203, 20130610, 20131202, 20140609, 20141201,
        20150608, 20151207, 20160606, 20161205, 20170612, 20171204, 20180611, 20181203, 20190610, 20191202]

In [268]:
big_three_rank.loc[(big_three_rank['ranking_date'] >= 20120601) & (big_three_rank['ranking_date'] <= 20121210)]

        index  ranking_date  rank          player   points
1643  1134852      20120611     1  Novak Djokovic  12280.0
1644  1134853      20120611     2    Rafael Nadal  10060.0
1645  1134854      20120611     3   Roger Federer   9310.0
1646  1136762      20120618     1  Novak Djokovic  12280.0
1647  1136763      20120618     2    Rafael Nadal  10060.0
...       ...           ...   ...             ...      ...
1713  1179299      20121203     2   Roger Federer  10265.0
1714  1179301      20121203     4    Rafael Nadal   6690.0
1715  1181251      20121210     1  Novak Djokovic  12920.0
1716  1181252      20121210     2   Roger Federer  10265.0
1717  1181254      20121210     4    Rafael Nadal   6690.0

[75 rows x 5 columns]

In [272]:
fed_rank = big_three_rank.loc[big_three_rank['player'] == 'Roger Federer']
fed_rank.loc[fed_rank['ranking_date'].isin(dates)]

        index  ranking_date  rank          player   points
499    423520      20041206   185  Novak Djokovic    229.0
577    471149      20050606   131  Novak Djokovic    337.0
655    515518      20051205    79  Novak Djokovic    502.0
733    565081      20060605    63  Novak Djokovic    627.0
811    616852      20061204    16  Novak Djokovic   1380.0
889    666968      20070604     6  Novak Djokovic   2810.0
967    715550      20071203     3  Novak Djokovic   4470.0
1045   763326      20080602     3  Novak Djokovic   5225.0
1123   812821      20081201     3  Novak Djokovic   5295.0
1201   862820      20090601     4  Novak Djokovic   8830.0
1282   912723      20091207     3  Novak Djokovic   8310.0
1360   959518      20100607     3  Novak Djokovic   6675.0
1438  1005619      20101206     3  Novak Djokovic   6240.0
1503  1044331      20110606     2  Novak Djokovic  12025.0
1574  1090169      20111205     1  Novak Djokovic  13630.0
1643  1134852      20120611     1  Novak Djokovic  12280.0
1712  1179298      20121203     1  Novak Djokovic  12920.0
1781  1224784      20130610     1  Novak Djokovic  11830.0
1851  1273266      20131202     2  Novak Djokovic  12260.0
1920  1323550      20140609     2  Novak Djokovic  12330.0
1988  1374365      20141201     1  Novak Djokovic  11360.0
2057  1424598      20150608     1  Novak Djokovic  13845.0
2129  1478335      20151207     1  Novak Djokovic  16585.0
2195  1527808      20160606     1  Novak Djokovic  16950.0
2267  1577823      20161205     2  Novak Djokovic  11780.0
2337  1626056      20170612     4  Novak Djokovic   5805.0
2410  1675897      20171204    12  Novak Djokovic   2585.0
2479  1721367      20180611    21  Novak Djokovic   1665.0
2546  1767261      20181203     1  Novak Djokovic   9045.0
2618  1789098      20190610     1  Novak Djokovic  12715.0
2688  1825549      20191202     2  Novak Djokovic   9145.0

In [206]:
rank_date = []
for d in dates:
    rank_date.append(dp.parse(str(d)))

In [78]:
big_three_rank['ranking_date'] = rank_date

In [79]:
big_three_rank = big_three_rank.reset_index()

In [80]:
big_three_rank

      level_0    index         ranking_date  rank          player  points
0           0       60  2000-01-10 00:00:00    61   Roger Federer   616.0
1           1     1615  2000-01-17 00:00:00    62   Roger Federer   620.0
2           2     3185  2000-01-24 00:00:00    62   Roger Federer   620.0
3           3     4754  2000-01-31 00:00:00    61   Roger Federer   652.0
4           4     6333  2000-02-07 00:00:00    67   Roger Federer   582.0
...       ...      ...                  ...   ...             ...     ...
2685     2685  1823607  2019-01-01 02:05:00     2  Novak Djokovic  9145.0
2686     2686  1823608  2019-01-01 02:05:00     3   Roger Federer  6590.0
2687     2687  1825548  2019-01-02 00:02:00     1    Rafael Nadal  9985.0
2688     2688  1825549  2019-01-02 00:02:00     2  Novak Djokovic  9145.0
2689     2689  1825550  2019-01-02 00:02:00     3   Roger Federer  6590.0

[2690 rows x 6 columns]

In [81]:
big_three_rank.to_csv('ranks.csv', index=False)